body {
    background: black;
  }
  
  header {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    position: relative;
  }
  
  #o {
    position: absolute;
    left: 66.5px;
    top: 24.5px;
    z-index: 1;
    width: 10px;
    height: 10px;
    margin: 0 15px 15px 0;
    border-radius: 30px;
    border: 1px solid black;
    background: white;
  }
  
  .hamburger {
    padding: 20px;
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1,
  .bar2 {
    width: 40px;
    height: 1.5px;
    background-color: #ffffff;
    margin: 8px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: rotate(-45deg) translate(-4px, 4px);
  }
  
  .change .bar2 {
    transform: rotate(45deg) translate(-4px, -4px);
  }
  
  #mainModal {
    display: none;
    position: absolute;
    padding: 0.5%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: black;
  }
  .modal-content {
    position: relative;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 98vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .hamburger-close {
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    cursor: pointer;
    color: white;
    font-family: "Open Sans", sans-serif;
  }
  
  .modal-menu a {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
  }
  
  header .logo {
    margin: 15px;
    width: 100px;
  }
  
  .projects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
  }
  
  #project-one {
    background-image: url("https://i.imgur.com/Hom0NNV.jpg");
  }
  
  #project-two {
    background-image: url("https://i.imgur.com/EXnEFJs.jpg");
  }
  
  #project-three {
    background-image: url("https://i.imgur.com/27rbPbu.png");
  }
  
  .image-opacity {
    opacity: 70%;
  }
  
  p {
    color: white;
    font-family: "Bebas Neue", cursive;
    font-size: 18px;
    height: 200px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    margin: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-opacity:hover {
    opacity: 100%;
  }
  
  a {
    text-decoration: none;
  }
  
  .footer {
    margin: 15px;
  }
  
  .side-nav {
    display: none;
  }
  
  .bottom a {
    display: none;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  a:link {
    color: white;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
  }
  
  i {
    padding: 3px 3px 3px 0;
    text-decoration: none;
  }
  
  @media screen and (min-width: 500px) and (max-width: 849px) {
    p {
      height: 300px;
      font-size: 20px;
      margin: 25px 0px;
    }
  }
  
  @media screen and (min-width: 850px) {
    .projects {
      flex-direction: row;
      justify-content: space-between;
      margin: 125px 15px;
    }
    p {
      width: 31vw;
      height: 290px;
      font-size: 24px;
    }
    .bottom a {
      display: flex;
      flex-direction: column;
      color: white;
      font-family: "Open Sans", sans-serif;
      font-size: 11px;
      margin: 0;
      line-height: 1;
      text-decoration: none;
    }
  
    .social-icons {
      display: flex;
      justify-content: flex-start;
      margin: 6px 3px 3px 0;
      text-decoration: none;
    }
  
    .hamburger {
      display: none;
    }
  }
  
  